# Dependencias
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Build
dist
build
*.tsbuildinfo

# Tests
coverage
.nyc_output
test

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Logs
logs
*.log

# Environment
.env
.env.*
!.env.example

# Misc
README.md
.editorconfig
.prettierrc
.eslintrc.js
.eslintignore

# CI/CD
.github
.gitlab-ci.yml
.travis.yml

# Temporal
*.tmp
*.temp
.cache
